# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno (¡CRÍTICO!)
.env
server/.env

# Producción
client/dist/
client/build/

# Logs y basura del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store